<% if current_user.has_role? :admin %>
    <table class="">
        <tr>
            
            <td><%= link_to "Exams", exams_path, :class => "waves-effect waves-light btn-large" %></td>
            <td><%= link_to "All created questions", questions_path, :class => "waves-effect waves-light btn-large" %></td>
            <td><%= link_to "create a new questions", new_question_path, :class => "waves-effect waves-light btn-large" %></td>
        </tr>
    </table>
<% else %>
    <h4>Start attending challenges </h4>
    <hr/>
    <table class="hoverable">
        <% @exam = Exam.all %>
        <%@exam.each do |t| %>
        <tr>
            <td><h5><%= t.name %></h5></td>
            <td><%= link_to "Attend", "attend_exams/attendexam?exam_id=#{t.id}", :class => "waves-effect waves-light btn-large red" %></td>
            <% @qs = Attendexam.where(:user_id=>current_user.id,:exam_id=>t.id) %>
            <td>
                <% @mark = 0 %>
                <% @qs.each do |d| %>
                    <% @mark = @mark + d.mark %>
                <% end %>
                <p style="color:green">Mark secured <%= @mark %> </p>    
            </td>

        </tr>
    <% end %>
    </table>
<% end %>
