<div class="row">
    <div class="col s9">
        <% @exam_questions.each do |t| %>
            <div class="col s9">
            <h5><%= t.description %></h5>
        </div>
        <% @answers = t.answers %>
                <% @qs1 = Attendexam.find_by_user_id_and_question_id(current_user.id,t.id) %>
        <% @answers.shuffle.each do |ans| %>
            <div class="col s9">
            <form action="#">
                <% if ans.actual_answer == 1 %>
                <% else %>
                <% end %>
                <p>
                <% @qs = Attendexam.find_by_user_id_and_question_id_and_answer_id(current_user.id,t.id,ans.id) %>
                <% if @qs %>
                    <input name="<%=ans.question_id%>" type="radio" id="<%=ans.id%>", checked='true' />
                <% else %>
                    <% if @qs1 %> 
                       <input name="<%=ans.question_id%>" type="radio" id="<%=ans.id%>", disabled='true' />
                    <% else %>
                       <input name="<%=ans.question_id%>" type="radio" id="<%=ans.id%>" />
                    <% end %>

                <% end %>
                <label for="<%=ans.id%>"><%= ans.content %></label>
                </p>
            </form>
        </div>
    <% end %>
    <% end %>
    </div>

    <div class="col s3" style="border:1px solid red">
        Online users
        <hr/>
        <% @user = User.all %>
        <table>
            <% @user.each do |t| %>
                <tr>
                    
            <% if t.updated_at > 7.minutes.ago %>
                <td> <a class="btn-floating btn-small waves-effect waves-light green"></a></td><td> <p style="color:green"><%= t.email %></p></td>
        <% else %>
            <td> <a class="btn-floating btn-small waves-effect waves-light red"></a></td><td> <p style="color:grey"><%= t.email %></p></td>
        <% end %>
    <% end %>
    </div>
</div>
