<p id="notice"><%= notice %></p>

<h1>Online Examination</h1>

<table class="striped">
  <thead>
    <tr>
      <th style="width:50%">Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @exams.each do |exam| %>
      <tr>
        <td><%= exam.name %></td>
        <td> 
            <%= link_to 'Show', exam ,:class=>"waves-effect waves-light btn"%>
        </td>
        <td><%= link_to 'Edit', edit_exam_path(exam) ,:class=>"waves-effect waves-light btn blue"%></td>
        <td><%= link_to 'Destroy', exam,:class=>"waves-effect waves-light btn red", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Exam', new_exam_path,:class=>"waves-effect waves-light btn" %>
